<link rel="stylesheet" href="/main.css" />
<nav id="top_nav">
  <section>
    <ul id="top_nav_left">
      <li><a href="#">PEACOOK</a></li>
      <li><a href="https://emart.ssg.com/?ckwhere=emart">이마트 몰</a></li>
      <li><a href="https://www.shinsegaepoint.com/">신세계 포인트</a></li>
      <li><a href="https://www.cultureclub.emart.com/">문화센터</a></li>
    </ul>
    <ul id="top_nav_right">
      <li>
        <a href="#">My이마트</a>
      </li>
      <li>
        <a href="https://store.emart.com/music/main.do">이마트 뮤직</a>
      </li>
      <li>
        <a href="https://store.emart.com/emartTV/eTVcontentsMain.do"
          >이마트 TV</a
        >
      </li>
      <li><a href="#" id="main_login">로그인</a></li>
      <li>
        <a href="/register">회원가입</a>
      </li>
    </ul>
  </section>
</nav>
<section id="head">
  <ul>
    <li>
      <a href="/map"><span>점포찾기</span></a>
    </li>
    <li>
      <a><span>전단광고</span></a>
    </li>
    <li>
      <a href="/"
        ><img
          src="https://stimg.emart.com/store/images/new/common/gnb01.png"
          alt="이마트"
      /></a>
    </li>
    <li>
      <a><span>이벤트</span></a>
    </li>
    <li>
      <a><span>고객센터</span></a>
    </li>
  </ul>
</section>
