<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KCS 마켓</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include('./header.ejs') %>

    <section id="head">
      <ul>
        <li>
          <a><span>점포찾기</span></a>
        </li>
        <li>
          <a><span>전단광고</span></a>
        </li>
        <li>
          <a
            ><img
              src="https://stimg.emart.com/store/images/new/common/gnb01.png"
              alt="이마트"
          /></a>
        </li>
        <li>
          <a><span>이벤트</span></a>
        </li>
        <li>
          <a><span>고객센터</span></a>
        </li>
      </ul>
    </section>
    <div id="main_view">
      <div id="main_view_pic">
        <a id="left_button"><span>이전</span></a>
        <section id="show_pic">
          <a
            ><img
              class="show"
              src="https://stimg.emart.com/upload/site/20230628_1059016_053.jpg"
              alt="키친델리클럽"
            />
            <img
              src="https://stimg.emart.com/upload/site/20230809_1459017_001.jpg"
              alt="토끼"
            />
            <img
              src="https://stimg.emart.com/upload/site/20230727_0951051_212.png"
              alt="휴가"
            />
            <img
              src="https://stimg.emart.com/upload/site/20230713_1034007_431.jpg"
              alt="기회"
            />
            <img
              src="https://stimg.emart.com/upload/site/20230607_1945005_315.jpg"
              alt="연예인"
            />
          </a>
        </section>
        <a id="right_button"><span>다음</span></a>
        <section id="menu_button">
          <div id="point_button">
            <a class="select_point"><span>1</span></a>
            <a><span>2</span></a>
            <a><span>3</span></a>
            <a><span>4</span></a>
            <a><span>5</span></a>
          </div>
          <a id="stop"><span>멈춤</span></a>
        </section>
      </div>
    </div>
    <div id="benefit">
      <div id="benefit_inner">
        <h3>기분좋은 혜택</h3>
        <ul>
          <div id="slide">
            <li>일렉트로맨 스탠드 선풍기 3만원 할인</li>
            <li>아이스박스/워터저그/캠핑 냉장고 최대 40% 할인</li>
            <li>삼성/LG 대형가전 최대 30만원 할인</li>
          </div>
        </ul>
        <a><span>스탑</span></a>
      </div>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
