<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 - 개인</title>
    <link rel="stylesheet" type="text/css" href="./login.css" />
  </head>
  <body>
    <div id="login_popup">
      <h1>로그인</h1>
      <div id="login_section">
        <fieldset>
          <dl>
            <dt>아이디</dt>
            <dd>
              <input
                id="id_input"
                class="login_input"
                type="text"
                placeholder="아이디"
              />
            </dd>
            <dt>비밀번호</dt>
            <dd>
              <input
                id="password"
                class="login_input"
                type="password"
                placeholder="비밀번호"
              />
            </dd>
          </dl>
        </fieldset>
        <button id="login_btn">로그인</button>
      </div>
      <div id="save_id">
        <input type="checkbox" id="id_check" />
        <label for="id_check">아이디 저장하기</label>
        <a href="#" id="find_id">아이디 찾기</a>
        <a href="#">비밀번호 찾기</a>
        <p>※ 신세계포인트 통합회원 아이디로 로그인이 가능합니다.</p>
      </div>
      <div id="login_false">
        <p>아이디 또는 비밀번호를 다시 확인하세요.</p>
        <p>
          등록되지 않은 아이디이거나, 아이디 또는 비밀번호를<br />
          잘못 입력하셨습니다.
        </p>
      </div>
      <div id="join_recommed">
        <p>아직 신세계포인트 회원이 아니신가요?</p>
        <p>회원이 되시면 더 많은 혜택을 누리실 수 있습니다.</p>
        <button id="join_btn" href="#">회원가입</button>
      </div>
    </div>
    <script type="text/javascript" src="login.js"></script>
  </body>
</html>
